.openOverall {
  @apply w-[300px] h-[100vh] bg-[#EEEEEE] absolute left-0 top-0 z-[10];
  transition: 0.3s;
}
.overall {
  @apply w-fit px-[28px] bg-[#EEEEEE] absolute　left-[-100%] lg:static;
  transition: 0.3s;
}
.nav {
  @apply ml-[20px] pt-[30px] md:text-[18px] md:ml-0;
  .logo {
    @apply cursor-pointer self-center w-[131.28px] h-[17px] flex items-center justify-center;
    img {
      @apply w-full;
    }

    &:hover {
      @apply opacity-[70%];
    }
  }

  ul {
    @apply flex flex-col gap-y-[20px] pt-[50px] font-[400];
    li:hover {
      @apply opacity-[70%];
    }
  }
}
